<div class="d-flex">
    <div class="col-x2-12">
            <div class = "border border-primary">
                <p>Name</p>
                <p>Value</p>
            </div>

     
            {{!-- <button  class="btn bg-dark text-white  m-3 rounded" type="button" {{on 'click' @remove}} ><h3 class="align-item-center">+</h3></button> --}}
       
    </div>
</div>